@model IEnumerable<Employer>

@{
    ViewData["Title"] = "List of Companies";
}

<div class="row">
    <p>
        <h4>
            List of Companies
        </h4>
    </p>
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.EmployerImage)</th>
                    <th>@Html.DisplayNameFor(model => model.EmployerName)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><img src="~/images/@item.EmployerImage" class="rounded-circle" height="70" width="70" asp-append-version="true" />
                        <td>@item.EmployerName</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <a class="btn btn-light" asp-action="Create"><i class="bi bi-plus-circle"></i>Add New Employer</a>
</div>



